.CarForm {
  text-align: center;
  background-color: rgb(97,131,98);
  background-size: cover;
  height: 200vh;
}

.Header {
  background-color: rgb(97,131,98);
  margin-bottom: 5vh;
  padding-bottom: 5vh;
  padding-top: 5vh;
  text-align: center;
}

.form {
  background: white;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 150vh;
  padding: 30px 50px;
}

.input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.form-group {
  margin-bottom: 30px;
  color: black;
}

input {
  border-radius: 2px;
  width: 50vh;
  height: 30px;
  font-size: 20px;
}

.form-select {
  border-radius: 2px;
  width: 50vh;
  height: 30px;
  font-size: 20px;
}

.form-label {
  margin-bottom: 0.5rem;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

.btn {
  background-color: #4d94ff;
  font-size: 30px;
  color: white;
  border-radius: 4px;
  margin: 10px 10px 10px 10px;
}

.Note {
  color: red;
}

.non-valid {
  color: red;
}
